global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'app'
    static_configs:
      - targets: ['app:3000']
        labels: {job: 'webapp'}
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
